
body, h1, h2, h3, h4, h5, h6, input, textarea, option {
    font-family: 'Lora', serif !important;
}
td {
    vertical-align: middle !important;
}

.ca-container-small {
    max-width: 600px;
    margin: auto;
}
.ca-container-large {
    max-width: 1200px;
    margin: auto;
}

.w3-orange {
    background-color: #eb741d !important;
    color: #fff !important;
}
.w3-red {
    background-color: #eb062c !important;
    color: #fff !important;
}
.w3-text-orange {
    color: #eb741d !important;
}
.w3-text-red {
    color: #eb062c !important;
}

.ca-col-icon {
    width: 35px;
}
.ca-col-image {
    width: 84px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
